In [103]:
import pandas as pd
import numpy as np

In [104]:
df = pd.read_csv("athlete_events.csv")

In [105]:
noc_df = pd.read_csv("noc_regions.csv")

Data Wrangling

In [106]:
import random
random.seed(4)

In [107]:
df = df.merge(noc_df,on="NOC",how="left")

In [108]:
df.tail()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,region,notes
271111,135569,Andrzej ya,M,29.0,179.0,89.0,Poland-1,POL,1976 Winter,1976,Winter,Innsbruck,Luge,Luge Mixed (Men)'s Doubles,NaN,Poland,NaN
271112,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",NaN,Poland,NaN
271113,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",NaN,Poland,NaN
271114,135571,Tomasz Ireneusz ya,M,30.0,185.0,96.0,Poland,POL,1998 Winter,1998,Winter,Nagano,Bobsleigh,Bobsleigh Men's Four,NaN,Poland,NaN
271115,135571,Tomasz Ireneusz ya,M,34.0,185.0,96.0,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,NaN,Poland,NaN

In [109]:
df.shape

(271116, 17)

In [110]:
selected_col = ["Sex" , "Age" , "Height" , "Weight" , "region" ,"Sport","Medal"]

In [111]:
df_temp = df[selected_col]

In [112]:
df_temp

       Sex   Age  Height  Weight       region          Sport Medal
0        M  24.0   180.0    80.0        China     Basketball   NaN
1        M  23.0   170.0    60.0        China           Judo   NaN
2        M  24.0     NaN     NaN      Denmark       Football   NaN
3        M  34.0     NaN     NaN      Denmark     Tug-Of-War  Gold
4        F  21.0   185.0    82.0  Netherlands  Speed Skating   NaN
...     ..   ...     ...     ...          ...            ...   ...
271111   M  29.0   179.0    89.0       Poland           Luge   NaN
271112   M  27.0   176.0    59.0       Poland    Ski Jumping   NaN
271113   M  27.0   176.0    59.0       Poland    Ski Jumping   NaN
271114   M  30.0   185.0    96.0       Poland      Bobsleigh   NaN
271115   M  34.0   185.0    96.0       Poland      Bobsleigh   NaN

[271116 rows x 7 columns]

In [113]:
df_temp["ID"] = np.arange(0,271116)

C:\Users\MA\AppData\Local\Temp\ipykernel_4484\4043099657.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_temp["ID"] = np.arange(0,271116)

In [114]:
df_temp

       Sex   Age  Height  Weight       region          Sport Medal      ID
0        M  24.0   180.0    80.0        China     Basketball   NaN       0
1        M  23.0   170.0    60.0        China           Judo   NaN       1
2        M  24.0     NaN     NaN      Denmark       Football   NaN       2
3        M  34.0     NaN     NaN      Denmark     Tug-Of-War  Gold       3
4        F  21.0   185.0    82.0  Netherlands  Speed Skating   NaN       4
...     ..   ...     ...     ...          ...            ...   ...     ...
271111   M  29.0   179.0    89.0       Poland           Luge   NaN  271111
271112   M  27.0   176.0    59.0       Poland    Ski Jumping   NaN  271112
271113   M  27.0   176.0    59.0       Poland    Ski Jumping   NaN  271113
271114   M  30.0   185.0    96.0       Poland      Bobsleigh   NaN  271114
271115   M  34.0   185.0    96.0       Poland      Bobsleigh   NaN  271115

[271116 rows x 8 columns]

In [115]:
dict ={
    np.nan:0,
    "Gold":1,
    "Silver":1,
    "Bronze":1
}

In [116]:
df_temp["Medal"] = df_temp["Medal"].replace(dict)

C:\Users\MA\AppData\Local\Temp\ipykernel_4484\3436643953.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_temp["Medal"] = df_temp["Medal"].replace(dict)

In [117]:
df_temp.head()

  Sex   Age  Height  Weight       region          Sport  Medal  ID
0   M  24.0   180.0    80.0        China     Basketball      0   0
1   M  23.0   170.0    60.0        China           Judo      0   1
2   M  24.0     NaN     NaN      Denmark       Football      0   2
3   M  34.0     NaN     NaN      Denmark     Tug-Of-War      1   3
4   F  21.0   185.0    82.0  Netherlands  Speed Skating      0   4

In [118]:
medal = df_temp[df_temp["Medal"] == 1].shape[0]
no_medal = df_temp[df_temp["Medal"] == 0].shape[0]

In [119]:
medal , no_medal , medal+no_medal, df_temp.shape[0]

(39783, 231333, 271116, 271116)

In [120]:
medal_df = df_temp[df_temp["Medal"] == 1]
no_medal_df = df_temp[df_temp["Medal"] == 0].head(39783)

In [121]:
df_temp = pd.concat([medal_df,no_medal_df],axis=0)

In [122]:
df_temp.shape[0]/2

39783.0

In [123]:
df_temp.isnull().mean()

Sex       0.000000
Age       0.029447
Height    0.222092
Weight    0.234736
region    0.000729
Sport     0.000000
Medal     0.000000
ID        0.000000
dtype: float64

In [124]:
df_temp.shape

(79566, 8)

Imputation

In [125]:
avg_male_height = df_temp[df_temp["Sex"] == "M"]["Height"].mean()
avg_female_height = df_temp[df_temp["Sex"] == "F"]["Height"].mean()
avg_male_weight = df_temp[df_temp["Sex"] == "M"]["Weight"].mean()
avg_female_weight = df_temp[df_temp["Sex"] == "F"]["Weight"].mean()
avg_male_age = df_temp[df_temp["Sex"] == "M"]["Age"].mean()
avg_female_age = df_temp[df_temp["Sex"] == "F"]["Age"].mean()

For Height

In [126]:
temp = df_temp[["ID","Sex","Height"]]
temp_male = temp[temp["Sex"] == "M" ]
temp_female = temp[temp["Sex"] == "F" ]
temp_male["Height"].fillna(avg_male_height,inplace=True)
temp_female["Height"].fillna(avg_female_height,inplace=True)
temp_male.shape[0]+temp_female.shape[0]
temp = pd.concat([temp_male,temp_female],axis=0)
temp.drop("Sex",axis=1,inplace=True)
df_temp.drop("Height",axis=1,inplace=True)
df_temp = df_temp.merge(temp,on="ID",how="left")
df_temp.shape

C:\Users\MA\AppData\Local\Temp\ipykernel_4484\2336758753.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_male["Height"].fillna(avg_male_height,inplace=True)
C:\Users\MA\AppData\Local\Temp\ipykernel_4484\2336758753.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_female["Height"].fillna(avg_female_height,inplace=True)

(79566, 8)

In [127]:
df_temp.isnull().sum()

Sex           0
Age        2343
Weight    18677
region       58
Sport         0
Medal         0
ID            0
Height        0
dtype: int64

For Weight

In [128]:
temp = df_temp[["ID","Sex","Weight"]]
temp_male = temp[temp["Sex"] == "M" ]
temp_female = temp[temp["Sex"] == "F" ]
temp_male["Weight"].fillna(avg_male_weight,inplace=True)
temp_female["Weight"].fillna(avg_female_weight,inplace=True)
temp = pd.concat([temp_male,temp_female],axis=0)
temp.drop("Sex",axis=1,inplace=True)
df_temp.drop("Weight",axis=1,inplace=True)
df_temp = df_temp.merge(temp,on="ID",how="left")
df_temp.shape

C:\Users\MA\AppData\Local\Temp\ipykernel_4484\4214524724.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_male["Weight"].fillna(avg_male_weight,inplace=True)
C:\Users\MA\AppData\Local\Temp\ipykernel_4484\4214524724.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_female["Weight"].fillna(avg_female_weight,inplace=True)

(79566, 8)

In [129]:
df_temp.isnull().mean()

Sex       0.000000
Age       0.029447
region    0.000729
Sport     0.000000
Medal     0.000000
ID        0.000000
Height    0.000000
Weight    0.000000
dtype: float64

For Age

In [130]:
temp = df_temp[["ID","Sex","Age"]]
temp_male = temp[temp["Sex"] == "M" ]
temp_female = temp[temp["Sex"] == "F" ]
temp_male["Age"].fillna(avg_male_weight,inplace=True)
temp_female["Age"].fillna(avg_female_weight,inplace=True)
temp = pd.concat([temp_male,temp_female],axis=0)
temp.drop("Sex",axis=1,inplace=True)
df_temp.drop("Age",axis=1,inplace=True)
df_temp = df_temp.merge(temp,on="ID",how="left")
df_temp.shape

C:\Users\MA\AppData\Local\Temp\ipykernel_4484\1007295310.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_male["Age"].fillna(avg_male_weight,inplace=True)
C:\Users\MA\AppData\Local\Temp\ipykernel_4484\1007295310.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_female["Age"].fillna(avg_female_weight,inplace=True)

(79566, 8)

In [131]:
df_temp.isnull().mean()

Sex       0.000000
region    0.000729
Sport     0.000000
Medal     0.000000
ID        0.000000
Height    0.000000
Weight    0.000000
Age       0.000000
dtype: float64

In [132]:
df_temp.dropna(inplace=True)

In [133]:
df_temp["Height"] = df_temp["Height"].astype("int")
df_temp["Weight"] = df_temp["Weight"].astype("int")
df_temp["Age"] = df_temp["Age"].astype("int")

In [134]:
df_temp

      Sex   region                 Sport  Medal     ID  Height  Weight  Age
0       M  Denmark            Tug-Of-War      1      3     179      77   34
1       M  Finland              Swimming      1     37     179      77   30
2       M  Finland              Swimming      1     38     179      77   30
3       M  Finland            Ice Hockey      1     40     184      85   28
4       M  Finland            Gymnastics      1     41     175      64   28
...    ..      ...                   ...    ...    ...     ...     ...  ...
79561   M   France         Alpine Skiing      0  46073     185      93   27
79562   M   France         Alpine Skiing      0  46075     185      93   31
79563   M   France  Cross Country Skiing      0  46076     170      77   21
79564   M   France  Cross Country Skiing      0  46077     170      77   25
79565   M   France  Cross Country Skiing      0  46078     170      77   25

[79508 rows x 8 columns]

In [135]:
df_temp.drop("ID",axis=1,inplace=True)

In [136]:
df_temp

      Sex   region                 Sport  Medal  Height  Weight  Age
0       M  Denmark            Tug-Of-War      1     179      77   34
1       M  Finland              Swimming      1     179      77   30
2       M  Finland              Swimming      1     179      77   30
3       M  Finland            Ice Hockey      1     184      85   28
4       M  Finland            Gymnastics      1     175      64   28
...    ..      ...                   ...    ...     ...     ...  ...
79561   M   France         Alpine Skiing      0     185      93   27
79562   M   France         Alpine Skiing      0     185      93   31
79563   M   France  Cross Country Skiing      0     170      77   21
79564   M   France  Cross Country Skiing      0     170      77   25
79565   M   France  Cross Country Skiing      0     170      77   25

[79508 rows x 7 columns]

In [137]:
X = df_temp.drop("Medal",axis=1)
y = df_temp["Medal"]

In [138]:
country = X["region"].dropna().unique().tolist()
country.sort()
sport = X["Sport"].dropna().unique().tolist()
sport.sort()
print(sport)

['Aeronautics', 'Alpine Skiing', 'Alpinism', 'Archery', 'Art Competitions', 'Athletics', 'Badminton', 'Baseball', 'Basketball', 'Basque Pelota', 'Beach Volleyball', 'Biathlon', 'Bobsleigh', 'Boxing', 'Canoeing', 'Cricket', 'Croquet', 'Cross Country Skiing', 'Curling', 'Cycling', 'Diving', 'Equestrianism', 'Fencing', 'Figure Skating', 'Football', 'Freestyle Skiing', 'Golf', 'Gymnastics', 'Handball', 'Hockey', 'Ice Hockey', 'Jeu De Paume', 'Judo', 'Lacrosse', 'Luge', 'Military Ski Patrol', 'Modern Pentathlon', 'Motorboating', 'Nordic Combined', 'Polo', 'Racquets', 'Rhythmic Gymnastics', 'Roque', 'Rowing', 'Rugby', 'Rugby Sevens', 'Sailing', 'Shooting', 'Short Track Speed Skating', 'Skeleton', 'Ski Jumping', 'Snowboarding', 'Softball', 'Speed Skating', 'Swimming', 'Synchronized Swimming', 'Table Tennis', 'Taekwondo', 'Tennis', 'Trampolining', 'Triathlon', 'Tug-Of-War', 'Volleyball', 'Water Polo', 'Weightlifting', 'Wrestling']

In [139]:
print(country)

['Afghanistan', 'Albania', 'Algeria', 'American Samoa', 'Andorra', 'Angola', 'Antigua', 'Argentina', 'Armenia', 'Aruba', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bermuda', 'Bhutan', 'Boliva', 'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'Brunei', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Cape Verde', 'Cayman Islands', 'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia', 'Comoros', 'Cook Islands', 'Costa Rica', 'Croatia', 'Cuba', 'Curacao', 'Cyprus', 'Czech Republic', 'Democratic Republic of the Congo', 'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia', 'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon', 'Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada', 'Guam', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'Hungary', 'Iceland', 'India', 'Individual Olympic Athletes', 'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Ivory Coast', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kosovo', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Macedonia', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico', 'Micronesia', 'Moldova', 'Monaco', 'Mongolia', 'Montenegro', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'North Korea', 'Norway', 'Oman', 'Pakistan', 'Palau', 'Palestine', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Puerto Rico', 'Qatar', 'Republic of Congo', 'Romania', 'Russia', 'Rwanda', 'Saint Kitts', 'Saint Lucia', 'Saint Vincent', 'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone', 'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa', 'South Korea', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Swaziland', 'Sweden', 'Switzerland', 'Syria', 'Taiwan', 'Tajikistan', 'Tanzania', 'Thailand', 'Timor-Leste', 'Togo', 'Tonga', 'Trinidad', 'Tunisia', 'Turkey', 'Turkmenistan', 'UK', 'USA', 'Uganda', 'Ukraine', 'United Arab Emirates', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela', 'Vietnam', 'Virgin Islands, British', 'Virgin Islands, US', 'Yemen', 'Zambia', 'Zimbabwe']

In [140]:
X

      Sex   region                 Sport  Height  Weight  Age
0       M  Denmark            Tug-Of-War     179      77   34
1       M  Finland              Swimming     179      77   30
2       M  Finland              Swimming     179      77   30
3       M  Finland            Ice Hockey     184      85   28
4       M  Finland            Gymnastics     175      64   28
...    ..      ...                   ...     ...     ...  ...
79561   M   France         Alpine Skiing     185      93   27
79562   M   France         Alpine Skiing     185      93   31
79563   M   France  Cross Country Skiing     170      77   21
79564   M   France  Cross Country Skiing     170      77   25
79565   M   France  Cross Country Skiing     170      77   25

[79508 rows x 6 columns]

In [141]:
y

0        1
1        1
2        1
3        1
4        1
        ..
79561    0
79562    0
79563    0
79564    0
79565    0
Name: Medal, Length: 79508, dtype: int64

In [142]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.7, random_state=100)

In [143]:
X_test

      Sex       region          Sport  Height  Weight  Age
24811   M      Denmark       Football     179      77   25
29042   M       France  Weightlifting     173      82   20
46263   M       Cyprus      Athletics     189      76   26
53537   M        Italy     Basketball     179      77   21
14906   M      Hungary     Water Polo     185      77   29
...    ..          ...            ...     ...     ...  ...
52227   M       Russia         Diving     179      77   77
58026   M       Poland           Judo     191      98   24
64249   F     Slovenia       Biathlon     163      65   26
7195    M       France         Rowing     179      77   24
30899   F  Switzerland  Alpine Skiing     170      68   23

[23853 rows x 6 columns]

In [144]:
X_test.reset_index(inplace=True)

In [145]:
X_test.drop(columns=["index"],axis=1,inplace=True)

In [146]:
y_test = y_test.reset_index()
y_test.drop(columns=["index"],axis=1,inplace=True)

In [147]:
y_test

       Medal
0          1
1          1
2          0
3          0
4          1
...      ...
23848      0
23849      0
23850      0
23851      1
23852      1

[23853 rows x 1 columns]

In [148]:
from sklearn.preprocessing import OneHotEncoder,StandardScaler
from sklearn.compose import ColumnTransformer

transformer = ColumnTransformer(transformers=[
    ("t1",StandardScaler(),["Age","Height","Weight"]),
    ("t2",OneHotEncoder(sparse_output=False,drop="first",handle_unknown="ignore"),["Sex","region","Sport"])
],remainder="passthrough")

In [149]:
from sklearn.decomposition import PCA
from sklearn.pipeline import Pipeline
pipeline = Pipeline([
    ("t1",transformer),
    ("t2",PCA(n_components=200))
])

In [150]:
X_train

      Sex        region          Sport  Height  Weight  Age
72760   M           USA  Equestrianism     179      77   45
70427   M        Brazil     Water Polo     176      80   27
76352   F  South Africa      Athletics     172      65   22
40949   F           USA      Athletics     188      66   29
31343   M     Argentina  Weightlifting     180     139   24
...    ..           ...            ...     ...     ...  ...
63396   M        France       Canoeing     177      78   24
65644   M   Netherlands        Fencing     179      77   37
77711   M          Cuba         Rowing     193      91   22
56112   M        Greece      Athletics     179      77   77
38417   M        Sweden       Handball     194      94   28

[55655 rows x 6 columns]

In [151]:
X_train.reset_index(inplace=True)

In [152]:
X_train.drop(columns=["index"],axis=1,inplace=True)

In [153]:
y_train

72760    0
70427    0
76352    0
40949    0
31343    1
        ..
63396    0
65644    0
77711    0
56112    0
38417    1
Name: Medal, Length: 55655, dtype: int64

In [154]:
y_train = y_train.reset_index()
y_train.drop(columns=["index"],axis=1,inplace=True)

In [155]:
y_train

       Medal
0          0
1          0
2          0
3          0
4          1
...      ...
55650      0
55651      0
55652      0
55653      0
55654      1

[55655 rows x 1 columns]

In [156]:
tX_train = pipeline.fit_transform(X_train)

In [157]:
tX_test = pipeline.transform(X_test)

C:\Users\MA\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\preprocessing\_encoders.py:228: UserWarning: Found unknown categories in columns [1] during transform. These unknown categories will be encoded as all zeros
  warnings.warn(

In [158]:
import pickle
pickle.dump(pipeline,open("transformer.pkl","wb"))

In [159]:
np.array(y_train).reshape(-1,1)

array([[0],
       [0],
       [0],
       ...,
       [0],
       [0],
       [1]], dtype=int64)

Model Training

1. LogisticRegression

In [160]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression(solver="sag")
lr.fit(tX_train,np.array(y_train).reshape(-1))

LogisticRegression(solver='sag')

In [163]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
categorical_columns = [0, 1]
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
import numpy as np

preprocessor = ColumnTransformer(
    transformers=[
        ('cat', OneHotEncoder(), categorical_columns)
    ])

pipeline = Pipeline([
    ('preprocessor', preprocessor),
    ('classifier', LogisticRegression())
])

pipeline.fit(tX_train, y_train)

logreg_predictions = pipeline.predict(tX_train)

logreg_accuracy = accuracy_score(y_train, logreg_predictions)

print("Logistic Regression Model:")
print("Accuracy:", logreg_accuracy)

C:\Users\MA\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\utils\validation.py:1183: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

Logistic Regression Model:
Accuracy: 0.9686820591141856

In [ ]:
pickle.dump(lr,open("modellr.pkl","wb"))

2. RandomForestClassifier

In [ ]:
from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier()
rfc.fit(tX_train,np.array(y_train).reshape(-1))

In [ ]:
from sklearn.metrics import accuracy_score
accuracy_score(rfc.predict(tX_test),np.array(y_test).reshape(-1,1))

In [ ]:
pickle.dump(rfc,open("modelrfc.pkl","wb"))

In [ ]:
import pickle

In [ ]:
pickle.dump(lr,open("modellr.pkl","wb"))

3. Artificial Neural Network

In [ ]:
import tensorflow
from tensorflow import keras
from keras.models import Sequential
from keras.layers import Dense,Dropout
from keras.layers.normalization.batch_normalization import BatchNormalization

In [ ]:
model = Sequential()
model.add(Dense(32,activation="relu",input_shape=[200]))
model.add(BatchNormalization())
model.add(Dropout(0.3))
model.add(Dense(64,activation="relu"))
model.add(BatchNormalization())
model.add(Dropout(0.3))
model.add(Dense(128,activation="relu"))
model.add(BatchNormalization())
model.add(Dropout(0.35))
model.add(Dense(256,activation="relu"))
model.add(Dense(1,activation="sigmoid"))

In [ ]:
model.summary()

In [ ]:
model.compile(
    optimizer = "adam",
    loss = "BinaryCrossentropy",
    metrics = ["accuracy"]
)

In [ ]:
earlystopping = keras.callbacks.EarlyStopping(
    monitor='val_accuracy',
    min_delta=0.001,
    patience=3,
    restore_best_weights=True
)

In [ ]:
history = model.fit(tX_train,np.array(y_train).reshape(-1),epochs=10,validation_data=(tX_test,np.array(y_test).reshape(-1)),callbacks=[earlystopping])

In [ ]:
pickle.dump(model,open("modelnn.pkl","wb"))

In [ ]:
df_plot = pd.DataFrame(history.history)

In [ ]:
from matplotlib import pyplot as plt
df_plot["accuracy"].plot()
df_plot["val_accuracy"].plot()
plt.legend()

In [ ]:
import pickle
pickle.dump(model,open("modeldl.pkl","wb"))

In [ ]:
#tensorflow.__version__